// Fonts
$font-main: "Lato", sans-serif;
$font-accent: "Korataki", sans-serif;

// Colors
$white: #FFFFFF;
$white-smoke: #F5F5F5;
$white-transparent: #F5F5F5B2;
$black: #000000;
$black-dark: #231815;
$orange: #E45302;
$gray: #808080;